<div class="calculator">
  <ul class="keyboard">
    <%= link_to list_tag("7"), "#", remote: true %>
    <%= link_to list_tag("8"), "#", remote: true %>
    <%= link_to list_tag("9"), "#", remote: true %>
    <%= link_to list_tag("C"), "#", remote: true %>
    <%= link_to list_tag("AC"), "#", remote: true %>
    <%= link_to list_tag("4"), "#", remote: true %>
    <%= link_to list_tag("5"), "#", remote: true %>
    <%= link_to list_tag("6"), "#", remote: true %>
    <%= link_to list_tag("x"), "#", remote: true %>
    <%= link_to list_tag("/"), "#", remote: true %>
    <%= link_to list_tag("1"), "#", remote: true %>
    <%= link_to list_tag("2"), "#", remote: true %>
    <%= link_to list_tag("3"), "#", remote: true %>
    <%= link_to list_tag("+"), "#", remote: true %>
    <%= link_to list_tag("-"), "#", remote: true %>
    <%= link_to list_tag("0"), "#", remote: true %>
    <%= link_to list_tag("."), "#", remote: true %>
    <%= link_to list_tag("="), "#", remote: true %>
  </ul>

</div>